<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% if enhanced_cart.length > 0 %>
    <%= render 'body' %>
  <% else %>
    <div> 
      There is nothing in your cart! If you want to checkout please put something in your cart.  
      <a href="/">Jungle</a>
    </div>
  <% end%>
  

</section>
